* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #d7ed7e;
  --secondary: #535e12;
}
::selection {
  background: #5b633a;
  color: white;
}
body {
  font-family: "Antonio", sans-serif;
  background-color: black;
  text-align: center;
  /* margin: auto; */
  color: white;
}
header {
  color: var(--primary);
}
header h1 {
  font-size: 70px;
  margin-top: 30px;
}
header p {
  font-size: 35px;
  padding-bottom: 20px;
}
header span {
  color: var(--secondary);
}
main {
  text-transform: uppercase;
}
/* Chart */
.chart {
  grid-column: 1 / span 6;
  grid-row: 2 / span 4;
  max-height: 210px;
  width: 85%;
  margin: auto;
}
/* First API */
.api1 {
  margin: 20px auto;
  display: grid;
  max-width: 600px;
  max-height: 330px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.tide,
.time {
  font-size: 18px;
}
.tide1 {
  grid-column: 2;
  grid-row: 1;
}
.tide2 {
  grid-column: 3;
  grid-row: 1;
}
.tide3 {
  grid-column: 4;
  grid-row: 1;
}
.tide4 {
  grid-column: 5;
  grid-row: 1;
}
.time1 {
  grid-column: 2;
  grid-row: 6;
}
.time2 {
  grid-column: 3;
  grid-row: 6;
}
.time3 {
  grid-column: 4;
  grid-row: 6;
}
.time4 {
  grid-column: 5;
  grid-row: 6;
}
/* Second API */
.api2 {
  color: var(--primary);
}
/* Temperature */
.temperature {
  cursor: pointer;
  margin-bottom: 50px;
}
.temperature h2,
.wind h2 {
  font-size: 30px;
}
.tempDes {
  font-size: 30px;
}
.tempDeg {
  color: var(--secondary);
  font-size: 100px;
  line-height: 100px;
  margin: 10px;
}
.wind-compass {
  height: 145px;
  margin: 10px;
}
.windDir {
  font-size: 30px;
}
.copyright {
  margin-top: 30px;
  font-size: 20px;
  color: #bebebe;
}

@media screen and (min-width: 768px) {
}
